*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(241, 211, 166);
}

a{
    text-decoration: none;
    color: rgb(128, 83, 0);
    font-weight: bold;
}

header {
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
  }
  
 
section{
    margin: 15px;
    padding: 20px;
}


.smo{
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    
}

.rmn{
    
    float: left;
}
  
table,th,tr{
    border: 2px;
    text-align: center;
    border-style: groove;
    border-collapse: collapse;
}

.noodle{
    border: 5px;
    border-style: groove;
    
}

.Ramen{
    text-align:center ;
}

.smooth{
    text-align: center;
}

h1{
    color: crimson;
}
